
/*
.project-container {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; 
}*/

.social {
  display: inline-block;
  margin-right: 2em;
  margin-top: 2em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 30%;
  display:inline-block;
}

.copyright {
  font-family: "Oswald", sans-serif;
  color: grey;
  font-size: 10pt;
  padding: 1em;
  align: bottom right;
}

.title-name {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 130px;
  color: #fff;
  font-weight: 900;
  line-height: 80%;
  text-transform: uppercase;
}

.main {
  padding: 7% 55% 4% 7%;
  position: absolute;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: gold;
}

p {
  color: white;
  font-size: 14pt;
  font-family: 'Courier New', sans-serif;
  font-weight: 200;
}

html {
  background: url('../images/me.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*SOCIAL MEDIA DECORATION*/


/************END***************/

.race-text {
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
}

/*BACK BUTTON*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#backbutton {
  padding: 0.5em;
  display: inline-block;
  margin: 0.5em;
}

/*END BACK BUTTON*/

.race-title {
  padding-bottom: 10px;
}

::-moz-selection { /* Code for Firefox */
    color: gold;
    background: transparent;
}

::selection {
    color: gold;
    background: transparent;
}

span.stretch {
  display: inline-block;
  -webkit-transform: scale(1, 1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1, 1.1);
  /* Firefox */
  -ms-transform: scale(1, 1.1);
  /* IE 9 */
  -o-transform: scale(1, 1.1);
  /* Opera */
  transform: scale(1, 1.1);
  /* W3C */ }


.btn-grad {
  background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%)
}

.btn-grad:hover { 
  background-position: right center; 
}

.project-listing {
  display: inline;
}

 .project {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 5%;
  line-height: 12pt;
  color: #000;
}
  @media (max-width: 1200px) {
    .project {
      width: 40%;
      margin-bottom: 10%; } }
  @media (max-width: 992px) {
    .project {
      width: 100%; } }

  .project img {
    width: 100%;
    margin-bottom: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px; }

  .project:hover {
    opacity: 0.9;
    transition: opacity 0.6s ease-out;
 }

 .menu li{
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 20pt;
  display: inline-block;
  padding-right: 2em;
  padding-top: 1em;
 }

.dark-primary-color    { 
	background: #0288D1; 
}
.default-primary-color { 
	background: #03A9F4; 
}
.light-primary-color   { 
	background: #B3E5FC; 
}
.text-primary-color    { 
	color: #FFFFFF; 
}
.accent-color          { 
	background: #795548; 
}
.primary-text-color    { 
	color: #212121; 
}
.secondary-text-color  { 
	color: #757575; 
}
.divider-color         { 
	border-color: #BDBDBD; 
}

