
@font-face {
font-family: 'Helvetica';
src: url(fonts/Helvetica.ttf);
}

@font-face {
font-family: 'Bebas Neue';
src: url(fonts/BebasNeue.otf);
}

/*RACE RESULTS VIZUALISATION PAGE*/

.results {
  background: #fff;
}

#results-homepage {
  position: relative;
}

.charts {
  padding-bottom: 10em;
}

.credits p{
  font-family:'Helvetica', sans-serif;
  color: grey;
  list-style: none;
  line-height: 50%;
  font-size: 12pt;
}

.credits a{
  color: grey;
  font-weight: 400;
}

.main-projects {
  width: 40%;
  padding-left: 7%;
  padding-top: 5%;
  padding-bottom: 4%;
  position: fixed;
}

.main-projects p {
  color: #000;
}

  @media (max-width: 1200px) {
    .main-projects p{
      font-size: 14pt; }
      .main-projects{
        position: relative;
        width: 80%}}
  @media (max-width: 992px) {
    .main-projects p{
      font-size: 12pt;}
    .main-projects{
      position:relative;
      width:90%;}}

.main-projects a {
  color: #000;
}

.main-projects a:hover {
  font-weight: 600;
  color: #000;
}

.race-listing {
  padding-top: 7%;
  padding-right: 7%;
  padding-bottom: 4%;
  padding-left: 60%;
  float: right;
}

  @media (max-width: 1200px) {
    .race-listing{
      position: relative;
      width: 80%;
      padding-left: 7%;}}
  @media (max-width: 992px) {
    .race-listing{
      position:relative;
      width:90%;
      padding-left: 7%;}}

.project h1 {
  color: #000;
  font-weight: 600;
  font-size: 16pt;
  font-family: 'Courier New', sans-serif;
  text-transform: uppercase;
}

 .project {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 12pt;
  color: #000;
}
  @media (max-width: 1200px) {
    .project {
      width: 40%;
      margin-bottom: 10%; } }
  @media (max-width: 992px) {
    .project {
      width: 100%; } }

  .project img {
    width: 40%;
    margin-bottom: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px; }

  .project:hover {
    opacity: 0.9;
    transition: opacity 0.6s ease-out;
 }

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 30%;
  display:inline-block;
}
 
.copyright {
  font-family: "Helvetica", sans-serif;
  color: grey;
  font-size: 10pt;
  padding: 1em;
  position: fixed;
  right: 0;
  bottom: 0;
}

.title-name {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 130px;
  color: #fff;
  line-height: 80%;
  text-transform: uppercase;
}

/*#main {
  width: 45%;
  padding-top: 7%;
  padding-bottom: 4%;
  padding-left: 7%;
  position: relative;
}*/

  @media (max-width: 1200px) {
    #main{
      width: 90%}}
  @media (max-width: 992px){
    #main{
      width: 90%}}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: white;
  font-size: 14pt;
  font-family: 'Courier New', sans-serif;
}

html {
  background: url('../images/me-alt.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.race-text {
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
}

.race-title {
  padding-bottom: 10px;
}

::-moz-selection { /* Code for Firefox */
    color: gold;
    background: grey;
}

::selection {
    color: gold;
    background: grey;
}

span.stretch {
  display: inline-block;
  -webkit-transform: scale(1, 1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1, 1.1);
  /* Firefox */
  -ms-transform: scale(1, 1.1);
  /* IE 9 */
  -o-transform: scale(1, 1.1);
  /* Opera */
  transform: scale(1, 1.1);
  /* W3C */ }


.btn-grad {
  background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%)
}

.btn-grad:hover { 
  background-position: right center; 
}

 .menu li{
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 20pt;
  display: inline-block;
  padding-right: 1em;
  padding-top: 1em;
 }

 .header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40pt;
  color: #000;
 }