---
title: Rumen Manev // Business, Outdoors & Tech
---

<div id="main">   
  <div class="title-name">Rumen Manev</div>

    <hr>

    <p>Business development | Project management </br> Amateur Web Development | Data Science </br> Running | Climbing | Cycling | Nature</p> <p>This website is where I put most of the things I feel are important. I try to update it regularly so keep an eye.</p>

  <div class="menu">
    <ul>
      <li><a class="proj">

        <span class="text" id='about'>About</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>

      </a></li>
      <li><a class="proj">

        <span class="text" id='projects'>Projects</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>

      </a></li>
      <li><a class="proj">

        <span class="text" id="contact">Contact</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>

      </a></li>
    </ul>
  </div>

  <!-- ABOUT ME -->

  <div id="aboutme">
    <a href="#"><div class="BackToClose"></div></a>
        <h1 id="contact-title">About me</h1>
        <p>Most of the time I'm working as a business developer for <a href="http://www.melewi.net" class="hvr-underline-from-center" target="blank" style="font-weight:600">Melewi</a> - a travelling UX & UI design studio.<p>The rest of time I'm either running, climbing, swimming or working on a new side project. I might also be up in the mountains or down by the sea, depending on the season. The point is I'm trying to keep myself active. <p>In the past few years, I've been semi-actively getting into web technologies, both in my daily work and as a hobby. More recently, I became interested in the field of Data Science, <%= link_to '<span class="hvr-underline-from-center" style="font-weight:600">experimenting</span>', '/results.html' %> with various tools and frameworks.</p> <p>If you see something interesting or just want to say hi, feel free to drop me a line.</p>
  </div>

  <!-- CONTACT -->

  <div id="contactForm">
    <h1 id="contact-title">Yes?</h1>
    <small id="contact-text">Let me know what's on your mind and I'll get back to you as soon as I can.</small>

    <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
      <input placeholder="Name" name = "name" type="text" required />
      <input placeholder="Email" name = "e-mail" type="email" required />
      <input placeholder="Subject" name = "subject" type="text" required />
      <textarea placeholder="Write something..." name = "message"></textarea>
      <input class="formBtn" type="submit" />
    </form>
  </div>

  <!-- SOCIAL MEDIA -->

  <div>
    <div class="social"><a href="https://www.linkedin.com/in/rmanev/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
    <div class="social"><a href="https://www.xing.com/profile/Rumen_Manev?sc_o=mxb_p" target="_blank"><i class="fa fa-xing fa-2x"></i></a></div>
    <div class="social"><a href="https://medium.com/@room_n" target="_blank"><i class="fa fa-medium fa-2x"></i></a></div>
    <div class="social"><a href="https://twitter.com/room_n" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></div>
    <div class="social"><a href="https://github.com/rum-n" target="_blank"><i class="fa fa-github fa-2x"></i></a></div>
    <div class="social"><a href="https://angel.co/rumen-manev" target="_blank"><i class="fa fa-angellist fa-2x"></i></a></div>
    <div class="social"><a href="https://www.instagram.com/room_n" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></div>
  </div>
</div>


