---
title: Rumen Manev // Business, Outdoors & Tech
---

<section class="intro">
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br><br>
        <h1 class="header center blue-text">Hey there!</h1>
        

        <div class="row center">
          <h5 class="header col s12 light">
            <p>You've stumbled upon the online space of <strong>Rumen Manev</strong>. I'm currently based and working in Sofia, Bulgaria.</p><p>A few of my interests include:</p><p>Business development | Project management </br> Freelancing | Amateur Web Development | Data Science </br> Running | Climbing | Cycling | Nature</p> <p>Scroll down to learn more about me and get in touch if you see something interesting.</p>
          </h5>
        </div>

<!--         <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light brown">Get Started</a>
        </div> -->
        <br><br>

      </div>
  </div>
<!--   <div class="bounce"></div> -->
          <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
          </svg>

</section>

<div class="container">

  <h1 class="header center blue-text">Recent projects</h1><br><br><br>
      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="project">
              <h5 class="center">Sofia Scout <br>(coming soon)</h5>
              <p class="light">A weekly newsletter containing information about the hottest events happening in Sofia, aimed at (but not limited to) foreigners - living here or just passing by.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <%= link_to '<div class="project">
                <img src="images/finale.jpg">
                  <h5 class="center">Race Results Visualization</h5>
                  <p class="light">Interactive data visualizations of results from running events.</p>
                </div>', '/results.html' %>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="https://vernissage.bg">
            <div class="project">
                <img src="images/hens.png">
                <h5 class="center">Vernissage</h5>
                <p class="light">An online gallery for Bulgarian artists to share and sell their work.</p>
            </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
         <div class="icon-block">
            <a href="http://www.nordkins.com">
            <div class="project">
                <img src="images/nordkins.png">
                <h5 class="center">Nordkins</h5>
                <p class="light">A street apparel brand highlighting art and simplicity.</p>
            </div>
            </a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="https://medium.com/@room_n/organizing-my-first-hackathon-687feac56748">
            <div class="project">
                <img src="images/AH.jpg">
                <h5 class="center">AngelHack Hackathon</h5>
                <p class="light">In 2016 I organized the first AngelHack hackathon in Sofia.</p>
            </div>
            </a>
          </div>
        </div>
        
      </div>
</div>



  <section class="intro-contact">
    <div class="container">
    <br><br><br>
      <h1 class="header center blue-text">Contact</h1>
        <div class="section">

                <p>Drop me a line if you feel like it.<br />

                <div id='contact-box' class="group">
                  <div class="col s12">
                    
                    <div class="row">
                      <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
                      <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Your name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="email" type="email" class="validate">
                        <label for="email" data-error="That is not an Email.">Email</label>
                      </div>
                    </div>

                    <div class="row">
                      <form class="col s12">

                          <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Write something...</label>
                          </div>

                      </form>
                    </div>
                    <button class="btn waves-effect waves-light blue" type="submit">Send
                      <i class="material-icons right">send</i>
                    </button>
<!-- 
                          <button  type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                          </button> -->
                    </form>
                  </div>
                </div>
          </div>
      </div>
    </div>
</section>


