---
title: Rumen Manev // Business, Outdoors & Tech
---

        <div class="main">      
            <div class="title-name">Rumen <br> Manev</div>
            <!-- <p>Most of the time I'm working as a business developer with some project management functions at <a href="https://code-runners.com" class="hvr-underline-from-center" target="blank" style="font-weight:600">Code Runners</a>.<p>The rest of time I'm either running, climbing, swimming or working on a new side project. I might also be up in the mountains or down by the sea, depending on the season. The point is I'm trying to keep myself active. <p>In the past few years, I've been semi-actively getting into web technologies, both in my daily work and as a hobby. More recently, I became interested in the field of Data Science, <%= link_to '<span class="hvr-underline-from-center" style="font-weight:600">experimenting</span>', '/results.html' %> with various tools and frameworks.</p><p>This website is where I put most of the things I feel are important. I try to update it regularly so keep an eye on it.</p> -->

            <hr>

            <p>Business development | Project management </br> Amateur Web Development | Data Science </br> Running | Climbing | Cycling | Nature</p> <p>This website is where I put most of the things I feel are important. I try to update it regularly so keep an eye.</p>

          <div class="menu">
            <ul>
              <li><a>About</a></li>
              <li><a>Projects</a></li>
              <li><a>Contact</a></li>
            </ul>
          </div>

          <div>
            <div class="social"><a href="https://www.linkedin.com/in/rmanev/" target="blank"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
            <div class="social"><a href="https://www.xing.com/profile/Rumen_Manev?sc_o=mxb_p" target="blank"><i class="fa fa-xing fa-2x"></i></a></div>
            <div class="social"><a href="https://medium.com/@room_n" target="blank"><i class="fa fa-medium fa-2x"></i></a></div>
            <div class="social"><a href="https://twitter.com/room_n" target="blank"><i class="fa fa-twitter fa-2x"></i></a></div>
            <div class="social"><a href="https://github.com/rum-n" target="blank"><i class="fa fa-github fa-2x"></i></a></div>
            <div class="social"><a href="https://angel.co/rumen-manev" target="blank"><i class="fa fa-angellist fa-2x"></i></a></div>
            <div class="social"><a href="https://www.instagram.com/room_n" target="blank"><i class="fa fa-instagram fa-2x"></i></a></div>
          </div>

        </div>

<!-- 
<section class="intro-projects">
<div class="container">


      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="project">
              <h5 class="center">Sofia Scout <br>(coming soon)</h5>
              <p class="light">A weekly newsletter containing information about the hottest events happening in Sofia, aimed at (but not limited to) foreigners - living here or just passing by.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <%= link_to '<div class="project">
                
                  <h5 class="center">Race Results Visualization</h5>
                  <p class="light">Interactive data visualizations of results from running events.</p>
                </div>', '/results.html' %>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="https://vernissage.bg">
            <div class="project">
                <h5 class="center">Vernissage</h5>
                <p class="light">An online gallery for Bulgarian artists to share and sell their work.</p>
            </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
         <div class="icon-block">
            <a href="http://www.nordkins.com">
            <div class="project">
                <h5 class="center">Nordkins</h5>
                <p class="light">A street apparel brand highlighting art and simplicity.</p>
            </div>
            </a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="https://medium.com/@room_n/organizing-my-first-hackathon-687feac56748">
            <div class="project">
                <h5 class="center">AngelHack Hackathon</h5>
                <p class="light">In 2016 I organized the first AngelHack hackathon in Sofia.</p>
            </div>
            </a>
          </div>
        </div>
        
      </div>
      </div>
</section> -->
