---
title: Ludogorets 2017
---

<html class="results">

<div class="main-projects">

    <h1 class="header">Ludogorets 2017</h1>
    <p>Charts coming soon...</p>


    <p><a href="/results" class="hvr-underline-from-center" id="backbutton">BACK TO RACE RESULTS</a></p>
    <p><a href="/index.html" class="hvr-underline-from-center" id="backbutton">BACK TO MAIN PAGE</a></p>

    <hr>

        <div class="credits">
            <p>1. Data taken from the Sofia Marathon <a href="http://www.marathonsofia.com/?lang=en">official website.</a></p>
            <p>2. Data normalized with R.</li>
            <p>3. Charts created with <a href="https://www.highcharts.com">Highcharts.</a></p>
        </div>
</div>

<div class="race-listing">
    <div class="charts">
        <div id="#"></div>
    </div>
    <div class="charts">
        <div id="#"></div>
     </div>
     <div class="charts">
        <div id="#"></div>
    </div>
</div>
</html>