---
title: Projects
---

<div id="main">
	<div id="myprojects"> 

        <h1 id="projects-title">Race Results Visualization</h1>
        <p>Interactive data visualizations of results from running events.</p>
        <span id="seemore"><%= link_to 'SEE MORE', '/results.html' %></span>

        <h1 id="projects-title">Nordkins</h1>
        <p class="light">A street apparel brand highlighting art and simplicity.</p>
        <span id="seemore"><a href="http://www.nordkins.com">SEE MORE</a></span>
        
        <h1 id="projects-title">Gripindoor</h1>
        <p>A guide for indoor climbing across world.</p>
        <span id="seemore"><a href="http://www.gripindoor.com">SEE MORE</a></span>
        
        <a><h1 id="projects-title">This website</h1></a>
        <p>Duh.</p>

    </div>
</div>



<!-- <html class="results">
<div id="fullpage">

	<div class="section one">
	    <a href="/index.html"><div class="BackToClose-proj2"></div></a>
	    <div class="project-info"> 
	    <div class="title-name"> <br> Projects</div>

	      <hr>

	      <p>In my spare time I like to dive into various projects, both in the digital and physical worlds. The main goal is to gain as much experience as possible in different fields and industries.</p><p>Below is a list of some of the more notable projects I've done recently. Some of them don't exist anymore, but I still feel they deserve to be mentioned.</p>
	      </div>
	</div>

	<div class="section two">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
	    <div class="title-name"> <br> Race Results</div>

	      <hr>

	      <p>Interactive data visualizations of results from running events. I love running and, more recently, I started getting into data visualisation. I try to combine the two.</p>
	      <p><a href="/results" class="hvr-underline-from-center" id="backbutton">SEE MORE</a></p>
	</div>
	</div>

	<div class="section three">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
	  	  <div class="title-name"> <br> Nordkins</div>

	      <hr>

	      <p>A street apparel brand born out of love for art and simplicity. Together with my girlfriend we decided to create a fashion line using her art. You can read about our process here.</p>
	      <p><a href="http://www.nordkins.com" class="hvr-underline-from-center" id="backbutton">SEE MORE</a></p>
	</div>
	</div>

	<div class="section four">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
		<div class="title-name"> <br> So Vintage</div>

	    <hr>

	    <p>Together with a very good friend of mine we started an online shop for retro accessories and home decoration. It was a dropshipping business model, meaning we connected manufacturers directly with end-customers and only took care of the digital marketing. After three months we decided to call it a failure and gather what we've learned from the whole experience - <a href="https://manchev.rocks/dropshipping/">read it here.</a>
	</div>
		<img id="so-vintage" src="../images/sovintagelogo.jpg">
	</div>

	<div class="section five">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
	    <div class="title-name"> <br> Vernissage</div>

	    <hr>

	    <p>My father is an artist. This is why I decided to create an online gallery for Bulgarian artists to share and sell their work. It was also a way to help my dad show his work to the world.</p><p>I set up the online gallery, but pretty soon abandoned the idea. I wrote about it <a href="https://medium.com/@room_n/how-do-you-sell-paintings-online-571df85f6a31">here.</a></p>
	</div>
	</div>

	<div class="section six">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
	    <div class="title-name"> <br> AngelHack hackathon</div>

	    <hr>

	    <p>In 2016 I organized the first AngelHack hackathon in Sofia. You can read more about my experience <a href="https://medium.com/@room_n/organizing-my-first-hackathon-687feac56748">here.</a></p>
	</div>
	</div>

	<div class="section seven">
	<a href="/index.html"><div class="BackToClose-proj2"></div></a>
	<div class="project-info">
	    <div class="title-name"> <br> This website.</div>

	    <hr>

	    <p>Duh. I made it on my own and from scratch, which wasn't exactly easy. You can read about the whole process I went through <a class="hvr-underline-from-center" href="https://medium.com/@room_n/making-a-personal-website-myself-21b275df3b8a">here.</a></p>
	</div>

	</div>
	</div>
</html>
 -->