---
title: Race Results
---

<div class="main-projects">
    <h1 class="header">Race Results</h1>

            <p>Recently, I've been fascinated with the world of data science and data visualization as a sub-category. Thinking of projects to practice on, I decided to combine it with another passion of mine - running.</p><p>On the right is a list of running events. I've participated in most of the events, which motivated me to visualize the results in an interactive way.</p><p>This section in constantly in development, as I'm trying to advance my data visualization skills. I hope the charts are interesting and useful for others as well.</p>
    
            <a href="/index.html" class="hvr-underline-from-center" id="backbutton">BACK TO MAIN PAGE</a>
</div>

      <div class="race-listing">
        
          <div class="icon-block">
            <%= link_to '<div class="project">
                <img src="../images/pirinSkyrun.png">
                  <h1>Pirin Skyrun 2017</h1>
                </div>', '/pirin-skyrun2017.html' %>
          </div>
        
          <div class="icon-block">
            <%= link_to '<div class="project">
                <img src="../images/spokes2017.png">
                  <h1>Spokes & Spikes 2017</h1>
                </div>', '/spokesandspikes-2017.html' %>
          </div>
        
          <div class="icon-block">
            <%= link_to '<div class="project">
                <img src="../images/sofiamarathonlogo.jpg">
                  <h1>Sofia Marathon 2016</h1>
                </div>', '/sofiamarathon-2016.html' %>
          </div>
        
      </div>



