---
title: Spokes and Spikes 2017
---

<div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/index.html" class="hvr-underline-from-center" id="backbutton">HOME</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/results" class="blue-text hvr-underline-from-center" id="backbutton">BACK</a>
        </li>
      </ul>
</div>

<div class="container">



<section><br><br><br>
    	<h3 class="header left blue-text">Spokes and Spikes 2017</h3>
	    <div class="row">
<!--             <div class="content">
                <div id="scatterplot-ss2017-40plus"></div>
            </div> -->
            <br><br><br><br><br><br><br><br><br>
                <p class="race-text">Spokes and Spikes is a small, but very fun race. Actually, the main event is a cycling competition, but this year, they decided to include running as well. It's a relay run in teams of two. I've focused the visualization only on the running part, since it's the one I participated in.</p>

                <p class="race-text">Actually, it was more than a simple participation. My friends (who I frequently run with) and I decided to make 3 teams and compete against each other. The race was tough, but my team won with a difference of 4 sec. The terrain was harsh at times and conditions were less than ideal, but it was all worthwhile in the end. As it usually is.</p>

                <p class="race-text">Also, we're still waiting for our prize from the bet - a case full of beers.</p>

                <p class="race-text">Charts coming soon...</p>

        </div>
</section>

    <hr>
        <ul>
            <li>1. Data taken from <a href="https://drace.bg/event/86/results">Drace.</a></li>
            <li>2. Data normalized with R.</li>
            <li>3. Charts created with <a href="https://www.highcharts.com">Highcharts.</a></li>
        </ul>
        <br>

</div>

<pre id="csv-ss2017-40plus" style="display: none">Name,Age,Time
Kalin Rusev,44,365025.83
Nikolaj Kostadinov,42,370483.5
Lyudmil Lozov,42,390437.92
Jeko Stojchev,,390554.13
Boris Kasherov,44,436861.21
Georgi Georgiev,40,442235.67
Andrej Rublyov,39,465889.04
Teodor Milkov,40,473804.79
Nikolaj Djankov,49,492552.58
Gero Saturov,40,501103.92
Nigel Morgan,61,523462.5
Georgi Kozhuharov,41,562595.83
Konstantin Ivanov,44,595496.25
Cvetan Banev,40,778547.92</pre>

<script>
Highcharts.chart('scatterplot-ss2017-40plus', {
    credits: {
        enabled: false
    },

    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: '40+ Male Runners in Spokes and Spikes 2017'
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Age'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Time'
        },
        type: 'datetime',
        // dateTimeLabelFormats: {
        //     second: "%H:%M:%S",
        //     minute: "%H:%M:%S",
        //     hour: "%H:%M:%S"
        // },
        reversed: true
    },

    legend:false,

    plotOptions: {
        scatter: {
            marker: {
                fillColor: 'orange',
                fillOpacity: 0.3,
                radius: 6,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100,)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.x} years old, <br> {point.y:%H:%M:%S}'
            }
        }
    },

    data: {
    	FirstRowAsNames:false,
    	csv: document.getElementById('csv-ss2017-40plus').innerHTML,
    	seriesMapping: [{
    		name: 0,
    		x: 1,
    		y: 2
    	}]
    },
});
</script>

