---
title: Spokes and Spikes 2017
---

<html class="results">

<div class="main-projects">

	<h1 class="header">Spokes and Spikes 2017</h1>

        <p>Spokes and Spikes is a small, but very fun race. It's a relay run in teams of two. There's also a cycling race, but I've focused the visualization only on the running part, since it's the one I participated in.</p><p>My friends and I decided to make 3 teams and compete against each other. The race was tough, but my team won with a difference of 4 sec. We're still waiting for our prize from the bet - a case full of beers.</p><p>Charts coming soon...</p>

    <p><a href="/results" class="hvr-underline-from-center" id="backbutton">BACK TO RACE RESULTS</a></p>
    <p><a href="/index.html" class="hvr-underline-from-center" id="backbutton">BACK TO MAIN PAGE</a></p>

    <hr>

    <div class="credits">
       <p>1. Data taken from <a href="https://drace.bg/event/86/results">Drace.</a></p>
       <p>2. Data normalized with R.</p>
       <p>3. Charts created with <a href="https://www.highcharts.com">Highcharts.</a></p>
    </div>

</div>

<div class="race-listing">
</div>

</html>

<pre id="csv-ss2017-40plus" style="display: none">Name,Age,Time
Kalin Rusev,44,365025.83
Nikolaj Kostadinov,42,370483.5
Lyudmil Lozov,42,390437.92
Jeko Stojchev,,390554.13
Boris Kasherov,44,436861.21
Georgi Georgiev,40,442235.67
Andrej Rublyov,39,465889.04
Teodor Milkov,40,473804.79
Nikolaj Djankov,49,492552.58
Gero Saturov,40,501103.92
Nigel Morgan,61,523462.5
Georgi Kozhuharov,41,562595.83
Konstantin Ivanov,44,595496.25
Cvetan Banev,40,778547.92</pre>

<script>
Highcharts.chart('scatterplot-ss2017-40plus', {
    credits: {
        enabled: false
    },

    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: '40+ Male Runners in Spokes and Spikes 2017'
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Age'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Time'
        },
        type: 'datetime',
        // dateTimeLabelFormats: {
        //     second: "%H:%M:%S",
        //     minute: "%H:%M:%S",
        //     hour: "%H:%M:%S"
        // },
        reversed: true
    },

    legend:false,

    plotOptions: {
        scatter: {
            marker: {
                fillColor: 'orange',
                fillOpacity: 0.3,
                radius: 6,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100,)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.x} years old, <br> {point.y:%H:%M:%S}'
            }
        }
    },

    data: {
    	FirstRowAsNames:false,
    	csv: document.getElementById('csv-ss2017-40plus').innerHTML,
    	seriesMapping: [{
    		name: 0,
    		x: 1,
    		y: 2
    	}]
    },
});
</script>

