---
title: Spokes and Spikes 2017
---

<html class="results">

<div class="main-projects">

	<h1 class="header">Spokes and Spikes 2017</h1>

        <p>Spokes and Spikes is a small, but very fun race. It's a relay run in teams of two. There's also a cycling race, but I've focused the visualization only on the running part, since it's the one I participated in.</p><p>My friends and I decided to make 3 teams and compete against each other. The race was tough, but my team won with a difference of 4 sec. We're still waiting for our prize from the bet - a case full of beers.</p>

    <p><a href="/index.html" class="hvr-underline-from-center" id="backbutton">BACK TO MAIN PAGE</a></p>

    <hr>

    <div class="credits">
       <p>1. Data taken from <a href="https://drace.bg/event/86/results">Drace.</a></p>
       <p>2. Data normalized with R.</p>
       <p>3. Charts created with <a href="https://www.highcharts.com">Highcharts.</a></p>
    </div>

</div>

<div class="race-listing">
    <div class="charts">
        <div id="scatterplot-ss2017"></div>
    </div>
</div>

</html>

<pre id="csv-ss2017-40plus" style="display: none">Name, Place, Time
Kolyo Raychinov & Rosen Rusev, 1, 10083125.04
Rumen Manev & Ivan Manchev, 2, 12064896.96
Nikola Markov & Emil Evtimov, 3, 12068147.04
Kostadin Novakov & Angel Gavrilov, 4, 12352114.08
Venzislav Jordanov & Evgeni Jordanov, 5, 12457852.08
Miroslav Djankov & Plamen Slavov, 6, 13015288.08
Vladimir Vassilev & Momchil Momchilov, 7, 13763718.96
Ivan Rachev & Vladimir Kovachev, 8, 14368379.04
Hristina Tsenova & Krasimir Pamporov,9, 14694341.04
Mina Serdarova & Nikolay Uzunov,10, 15716970
Vanina Milusheva & Iva Arnaudova,11, 16099314.96
Veselin Hadjitodorov & Lilit Panayotova,12, 16605114.96
Angel Grozev & Samuil Velinov,13, 18954780</pre>

<script>
Highcharts.chart('scatterplot-ss2017', {
    credits: {
        enabled: false
    },

    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Relay Runners in Spokes and Spikes 2017'
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Place'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Time'
        },
        type: 'datetime',
        // dateTimeLabelFormats: {
        //     second: "%H:%M:%S",
        //     minute: "%H:%M:%S",
        //     hour: "%H:%M:%S"
        // },
        reversed: true
    },

    legend:false,

    plotOptions: {
        scatter: {
            marker: {
                fillColor: 'pink',
                fillOpacity: 0.3,
                radius: 6,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100,)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: 'Place: {point.x}, <br> {point.y:%H:%M:%S}'
            }
        }
    },

    data: {
    	FirstRowAsNames:false,
    	csv: document.getElementById('csv-ss2017-40plus').innerHTML,
    	seriesMapping: [{
    		name: 0,
    		x: 1,
    		y: 2
    	}]
    },
});
</script>

